<div class="col-md-4 col-md-offset-4">
    <h2>编辑云☁️图片</h2>



  <% if @cloud.image.present? %>
    <br><br>
    <%= image_tag(@cloud.image.thumb.url) %>
    <br><span>目前商品图</span>
    <br><br><br>

  <% end %>

  <%= render "form" %>

</div>
