  <div class="col-md-12">
    <div class="group">
      <%= link_to("Edit", edit_cloud_path(@cloud), class: "btn btn-primary pull-right")%>
    </div>
    <h2><%= @cloud.title %></h2>
    <p><%= @cloud.body %></p>
  </div>
